@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#menu-w .navbar-toggler {
  color: #000;
}
#menu-w .navbar-brand {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-w .nav-link {
  font-size: 24px;
}
#slider-q H2 {
  color: #fff8e0;
  font-size: 72px;
  text-align: center;
}
#slider-q P {
  font-size: 36px;
  font-family: 'Playfair Display', sans-serif;
  color: #f2f2f2;
}
#slider-q I {
  color: #f8f8f6;
  font-size: 72px;
}
#features1-i H4 {
  font-size: 22px;
}
#features1-j H4 {
  text-align: right;
}
#features1-j P {
  font-size: 22px;
}
#msg-box4-p .mbr-section-title {
  font-size: 60px;
}
#content5-15 DIV {
  font-size: 32px;
}
#content5-16 .mbr-section-title {
  text-align: right;
}
#content5-16 P {
  text-align: right;
}
#content5-16 DIV {
  text-align: right;
  font-size: 32px;
}
#content5-18 DIV {
  font-size: 32px;
}
#msg-box4-1b .lead DIV {
  text-align: left;
  font-size: 21px;
}
#testimonials1-7 .card-footer > div {
  color: #000000;
}
#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-o .lead P {
  font-size: 30px;
}
#contacts1-b P {
  text-align: right;
  font-size: 21px;
}
